.button {
    width: 200px;
    padding: 10px 8px;
    background-color: #fff;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

    transition: 0.2s all ease;

    &:hover {
        background-color: #e0e0e0;
    }
}

@media (min-width: 500px) {
    .button {
        padding: 15px 10px;
        font-size: 16px;
    }
}
