.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(105%);
    }
    &__image {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        img {
            max-width: 200px;
            max-height: 100%;
        }
    }
    &__info {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 15px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(0, 0, 0, 0.638);
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
    &__category {
        font-size: 15px;
        font-weight: bold;
        color: black;
    }
    &__price {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
}

.add-to-cart {
    width: 100%;
    padding: 10px;
    border: none;
    background: #6d3a1b;
    color: white;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #532e1c;
    }
}
