.shop {
    padding-bottom: 20px;
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__title {
        text-align: center;
        font-size: 22px;
    }
}

@media (min-width: 800px) {
    .shop {
        &__nav {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &__title {
            text-align: center;
            font-size: 28px;
        }
    }
}
